/* MEDIA QUERIES FOR RESPONSIVENESS */

/* Mobile devices */
@media only screen and (max-width: 768px) {
    body {
        margin: 0;
    }
    
    nav {
        display: none; /* Hide desktop navigation */
    }

    #hamburger-nav {
        display: flex; /* Show hamburger menu */
    }

    .menu-links {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: white;
        width: 1000%; /* Adjust as needed */
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
    }

    /* Background image for typical phone screens (1080x1920) */
    .background {
        background-image: url('DEFAULT.PNG');
    }
}

/* Background image for medium screens larger than 768px (1200x1600) */
@media (min-width: 768px) and (max-width: 1199px) {
    .background {
        background-image: url('DEFAULT.PNG');
    }
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    #about .container {
        flex-direction: column; /* Stack items vertically */
    }
}
